In [48]:
import pandas as pd
import numpy as np
import sqlite3
from sqlite3 import Error
from sqlalchemy import create_engine

def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


#if __name__ == '__main__':
create_connection("diamonds_m2.db")

data_base = sql.connect("diamonds_m2.db")

In [73]:
engine = create_engine('sqlite:///diamonds_m2.db')
connection = engine.connect()

In [74]:
nombre_tabla = engine.table_names()
print(nombre_tabla)

['Shows', 'diamonds_clarity', 'diamonds_color', 'diamonds_cut', 'diamonds_dimensions', 'diamonds_properties', 'diamonds_transactional']

In [75]:
print(pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", connection))

                     name
0     diamonds_dimensions
1  diamonds_transactional
2     diamonds_properties
3            diamonds_cut
4          diamonds_color
5        diamonds_clarity
6                   Shows

In [86]:
query_diamonds_dimensions = """SELECT * FROM diamonds_dimensions"""
df_diamonds_dimensions = pd.read_sql_query(query_diamonds_dimensions,engine)
df_diamonds_dimensions

,index_id,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,63.0,57.0,4.35,4.38,2.75
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,65.5,55.0,5.62,5.53,3.65
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,63.8,56.0,4.68,4.72,3.00
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60.5,59.0,6.55,6.51,3.95
...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,62.7,57.0,7.10,7.04,4.43
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,57.1,60.0,8.31,8.25,4.73
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,62.7,56.0,6.37,6.42,4.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,61.9,54.3,4.45,4.47,2.76
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,62.0,58.0,6.83,6.88,4.25

In [88]:
query_diamonds_transactional = """SELECT * FROM diamonds_transactional"""
df_diamonds_transactional = pd.read_sql_query(query_diamonds_transactional,engine)
df_diamonds_transactional

,index_id,price,city_id
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,505,5dd272b4f316b776a7b8e3d0894b37e1e42be3d5d3b204...
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2686,ed76f191621cf6ed77eab6a8013d1cb4bdfa89a75a24aa...
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,738,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4882,ed76f191621cf6ed77eab6a8013d1cb4bdfa89a75a24aa...
...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,10070,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,12615,5a59ef2e40c5f89adb8c0c6ad0a8019b0e252fff530cf2...
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,5457,ed76f191621cf6ed77eab6a8013d1cb4bdfa89a75a24aa...
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,456,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,6232,ed76f191621cf6ed77eab6a8013d1cb4bdfa89a75a24aa...

In [82]:
query_diamonds_properties = """SELECT * FROM diamonds_properties"""
df_diamonds_properties = pd.read_sql_query(query_diamonds_properties,engine)
df_diamonds_properties

,index_id,cut_id,color_id,clarity_id
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,388655e25e91872329272fc10128ef5354b3b19a05d7e8...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,c939327ca16dcf97ca32521d8b834bf1de16573d21deda...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...,bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...

In [83]:
query_diamonds_cut = """SELECT * FROM diamonds_cut"""
df_diamonds_cut = pd.read_sql_query(query_diamonds_cut,engine)
df_diamonds_cut

                                              cut_id        cut
0  388655e25e91872329272fc10128ef5354b3b19a05d7e8...  Very Good
1  4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...      Ideal
2  c939327ca16dcf97ca32521d8b834bf1de16573d21deda...       Good
3  de88c121a82a06352bf1aaceba20578356408a334ba046...    Premium
4  f7b19afcde965ea4942b878d266f89f8ba9a5a833e60f7...       Fair

In [84]:
query_diamonds_color = """SELECT * FROM diamonds_color"""
df_diamonds_diamonds_color = pd.read_sql_query(query_diamonds_color,engine)
df_diamonds_diamonds_color

                                            color_id color
0  333e0a1e27815d0ceee55c473fe3dc93d56c63e3bee2b3...     G
1  3f39d5c348e5b79d06e842c114e6cc571583bbf44e4b0e...     D
2  44bd7ae60f478fae1061e11a7739f4b94d1daf917982d3...     H
3  6da43b944e494e885e69af021f93c6d9331c78aa228084...     J
4  a83dd0ccbffe39d071cc317ddf6e97f5c6b1c87af91919...     I
5  a9f51566bd6705f7ea6ad54bb9deb449f795582d6529a0...     E
6  f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...     F

In [77]:
query_diamonds_clarity = """SELECT * FROM diamonds_clarity"""
df_diamonds_clarity = pd.read_sql_query(query_diamonds_clarity,engine)
df_diamonds_clarity

                                          clarity_id clarity
0  03c358cbd92e83278fd523f58dc6a9b4b198d00728af65...     SI2
1  3f9db06236e9719b61c826b612b882fa702ec81574e44c...    VVS2
2  66686ae1f0c9c400ba32dc600a34ff0aa173395bcbc2d8...    VVS1
3  7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...      IF
4  bd4f4a250da88f87729febc739ae97f439a14f9d38f0e3...     SI1
5  c2818bc4e5ec4ae4a357a0df6fed73652e169ec676f7d4...      I1
6  ef736c1f91cd1900c3d9cde925b1bf4f013adc0211a9ee...     VS1
7  f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...     VS2

In [76]:
query_Shows = """SELECT * FROM Shows"""
df_Shows = pd.read_sql_query(query_Shows,engine)
df_Shows

Empty DataFrame
Columns: [Title, Director, Year]
Index: []

In [95]:
query_inner = pd.merge(df_diamonds_dimensions,df_diamonds_transactional, on="index_id")
query_inner = pd.merge(query_inner,df_diamonds_properties, on="index_id")
query_inner = pd.merge(query_inner, df_diamonds_cut, on="cut_id")
query_inner = pd.merge(query_inner,df_diamonds_diamonds_color, on="color_id")
query_inner = pd.merge(query_inner,df_diamonds_clarity, on="clarity_id")
query_inner

,index_id,depth,table,x,y,z,price,city_id,cut_id,color_id,clarity_id,cut,color,clarity
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2
1,5d85be4cc5af40a7cf2c4f0818d92689c185fdea656674...,60.5,56.0,7.19,7.12,4.33,6254,89c7286890f7347ab235234e74d406596a127ae3679042...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2
2,d2e655334ee2e4841be477484381df1617a8b891adc04c...,58.4,59.0,7.40,7.27,4.28,6157,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2
3,759b87b87ba0c0c701d14eb2e6e31560929e9359153781...,61.3,60.0,4.65,4.68,2.86,581,5dd272b4f316b776a7b8e3d0894b37e1e42be3d5d3b204...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2
4,a73060afb61efe1b7c817645d00c342df02407f65435a6...,58.6,58.0,6.85,6.81,4.00,4422,e9c722cbefc2f055ae60b4e2cbe73a2d99537eab0c37f3...,de88c121a82a06352bf1aaceba20578356408a334ba046...,6da43b944e494e885e69af021f93c6d9331c78aa228084...,f0b2a1d0db08cc64f85d74f1d15c2191e0e49039f4d8f2...,Premium,J,VS2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,61d4c92ca6621abf129f8e2c01f1cf4fedcc9380b01e1f...,62.0,58.0,4.25,4.30,2.65,886,2bd25cd960aba8b706e2b67f2bb38b750ee5384b0e9883...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF
40451,23b1be035009962fdba37000994ca30645a76738b1da0b...,61.4,55.0,6.61,6.68,4.09,11846,ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b2...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF
40452,3cd23097df077d65e4f32b3260b959d1e02cb8edfdce18...,61.7,56.0,4.79,4.83,2.97,1439,ca3aa21a5b70c3e88cc6336682c8c7da928a0c66a5ead4...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF
40453,894fec21ceb2b6180098a49688b3ab5cdd03837e99d655...,63.0,55.0,4.13,4.16,2.61,760,6c425048aa7badd9d84615bd8620ca1864efd81cfdb69d...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,5dd272b4f316b776a7b8e3d0894b37e1e42be3d5d3b204...,4e3cfaa334cbafb57a399a98fad8d3812ece460018f457...,f67ab10ad4e4c53121b6a5fe4da9c10ddee905b978d378...,7020fd7aaf1656dea5c0c0c3d4bb5a28ebf6243fba95d3...,Ideal,F,IF

In [98]:
df_diamonds = query_inner[["index_id","depth","table","x","y","z","price","cut","color","clarity"]]
df_diamonds

,index_id,depth,table,x,y,z,price,cut,color,clarity
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,62.4,58.0,6.83,6.79,4.25,4268,Premium,J,VS2
1,5d85be4cc5af40a7cf2c4f0818d92689c185fdea656674...,60.5,56.0,7.19,7.12,4.33,6254,Premium,J,VS2
2,d2e655334ee2e4841be477484381df1617a8b891adc04c...,58.4,59.0,7.40,7.27,4.28,6157,Premium,J,VS2
3,759b87b87ba0c0c701d14eb2e6e31560929e9359153781...,61.3,60.0,4.65,4.68,2.86,581,Premium,J,VS2
4,a73060afb61efe1b7c817645d00c342df02407f65435a6...,58.6,58.0,6.85,6.81,4.00,4422,Premium,J,VS2
...,...,...,...,...,...,...,...,...,...,...
40450,61d4c92ca6621abf129f8e2c01f1cf4fedcc9380b01e1f...,62.0,58.0,4.25,4.30,2.65,886,Ideal,F,IF
40451,23b1be035009962fdba37000994ca30645a76738b1da0b...,61.4,55.0,6.61,6.68,4.09,11846,Ideal,F,IF
40452,3cd23097df077d65e4f32b3260b959d1e02cb8edfdce18...,61.7,56.0,4.79,4.83,2.97,1439,Ideal,F,IF
40453,894fec21ceb2b6180098a49688b3ab5cdd03837e99d655...,63.0,55.0,4.13,4.16,2.61,760,Ideal,F,IF
40454,d7e77869948ba7500ca20937afd59c8f9b7a0238adb814...,61.2,56.0,4.37,4.42,2.69,921,Ideal,F,IF

In [101]:
df_diamonds_transactional["city_id"][0]

'ba04d229e496b8383a4df91f5e77c194a95cf1a069b0b257bca7c51cb108757e'